@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  /* Colores de Katary */
  --azul-katary: #211e43;
  --rojo-coral: #ea524e;
  --salmon: #ed6f56;
  --naranja: #ef7f4d;
  --blanco: #ffffff;

  /* Para los módulos completados */
  --gris: #7c7a8e;
}

body {
  margin: 0;
  font-family: "Poppins", system-ui, sans-serif;
  color: var(--azul-katary);
  background-color: var(--blanco);
}

button,
input {
  font-family: inherit;
}
